{
  "ignore": [
    "*.doc.js"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-es2015-modules-commonjs",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
