{
  "env": {
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Map": false,
    "Promise": false,
    "Set": false,
    "WeakMap": false,
    "WeakSet": false
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7
  }
}
